<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset="UTF-8">
        <meta name = "viewpoint" content = "width=device-width, initial-scale=1">
        <title>Document</title>
    </head>
    
    <body>
        {{>navbar}}
        <h1>This is something interesting</h1>
    </body>
</html>
